# General
.idea/
.vscode/

# Env files
.env

# Angular
frontend/.angular/cache/
frontend/dist/
frontend/node_modules/

# Backend
backend/target/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
.agents/
skills-lock.json

